@import '_variables';
@import '_extends';

#today-menu {
    @extend %standard-column-content;
    @extend %dotted-line;
    font-size: $normal-font;

    .date {
        text-align: center;
        font-size: $normal-font;
    }

    .title {
        @extend %title;
    }
}

#register-menu {
    display: none;
    @extend %model-form;
}

#edit-menu {
    display: none;
    @extend %model-form;

    #sub-edit {
        display: contents !important;

        .submits {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            input {
                &:nth-child(1) {
                    margin-right: 5px;
                }
                flex: 1;
            }

            .btn-cancel {
                @include button-background-color-on($red-color, $white-color)
            }
        }
    }
}

#delete-menu {
    display: none;
    @extend %model-form;
}

#find-menu {
    display: none;
    @extend %model-form;
    @extend %dotted-line;
    font-size: $normal-font;

    .date {
        text-align: center;
        font-size: $normal-font;
    }

}