@import '_variables';
@import '_extends';

#today-menu {
    display: none;
    @extend %standard-column-content;
    @extend %dotted-line;
    font-size: $normal-font;

    .date {
        text-align: center;
        font-size: $normal-font;
        margin-bottom: 0px;
    }

    .title {
        @extend %title;
    }

    .alert-menu {
        text-align: center;
        margin-top: 40px;

        .btn {
            @include button-background-color-on($green-thirdy-color, $white-color);
            margin-top: 0px !important;
            min-width: 279px;
        }
    }
}

#register-menu {
    display: none;
    @extend %model-form;
}

#edit-menu {
    display: none;
    @extend %model-form;

    #sub-edit {
        display: contents !important;

        .submits {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;

            input {
                &:nth-child(1) {
                    margin-right: 5px;
                }

                flex: 1;
            }

            .btn-cancel {
                @include button-background-color-on($red-color, $white-color)
            }
        }
    }
}

#modify-menu {
    display: none;
    @extend %model-form;
    @extend %dotted-line;
    font-size: $normal-font;
    overflow-y: auto;
    max-height: 70vh;
    margin-bottom: 0px;

    #cards {
        @extend %cards;
    }

    .date {
        text-align: center;
        font-size: $normal-font;
    }

}

#list-menu {
    display: none;
    @extend %model-form;
    font-size: $normal-font;

    #cards-list {
        @extend %cards;
    }

    .date {
        text-align: center;
        font-size: $normal-font;
    }

}
