@import '_variables';
@import '_mixins';

%model-form {
    @extend %standard-column-content;

    .title {
        @extend %title;
    }

    .informationFind {
        @extend %input-find;
    }

}

%standard-column-content {
    flex-flow: column nowrap;
    margin: 0px 4vw 3vw 4vw;
    padding: 0px 2.5vw 2vw 2.5vw;
    background-color: $white-color;
    border-radius: 7px;
    overflow-y: scroll;
    max-height: 70vh;
    margin-bottom: 0px;
}

%title {
    text-align: center;
    font-size: $large-font;
    color: $green-thirdy-color;
    margin: 37px 0px;
}

%input-find {
    display: flex;
    flex-flow: row wrap;

    input[type=text] {
        flex-grow: 10;
    }

    input[type=button] {
        flex-grow: 1;
        margin: 0px 0px 0px 8px !important;
        height: 43px;
        padding: 0px !important;
    }
}

%cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        min-width: 27vw;
        max-width: 31vw;
        margin: 0px 20px 20px 20px;
        padding: 0 0 0 20px;
        border-radius: 7px;
        border: 2px solid  $green-thirdy-color;

        .title-card {
            text-align: center;
            font-size: $normal-font;
            color: $green-thirdy-color;
        }

        .submits {
            display: flex;
            flex: 1;
            padding: 0 20px 0 0;
            justify-content: space-between;

            input[type="button"] {
                padding: 11px 4vw;
                flex: 1;
            }

            #button-edit {
                @include button-background-color-on($green-thirdy-color, $white-color);
                margin-right: 5px;
            }

            #button-cancel {
                @include button-background-color-on($red-color, $white-color);
            }
        }
    }
}

%dotted-line {
    hr {
        border: none;
        border-top: 2px dotted #555;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
        margin: 0px;
    }
}