@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Cores */
$white-color: #FFFFFF;
$gray-color: #555;
$light-gray-color: #CED6E0;
$green-color: #E5E5E5;
$green-secondary-color: #0F5F5C;
$green-thirdy-color: #32A041;
$yellow-color: #FFFF99;
$red-color: #C8191E;

/* Fontes */
$poppins-font: "Poppins",
sans-serif;

/* Tamanhos */
$small-font: 15px;
$normal-font: 18px;
$large-font: 23px;