@import '_variables';
@import '_extends';
@import '_mixins';

@import '_cardapio';

body {
    background-color: $green-color;
    margin: 0;
}

#grid {
    overflow-y: hidden;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav head"
        "nav  main";
    grid-template-rows: 8vh 92vh 100vh;
    grid-template-columns: 18vw 1fr;
    font-family: $poppins-font;
    overflow-y: auto;
}

#grid>header {
    grid-area: head;
    background-color: $white-color;
    border-left: 1px solid $green-color;
}

#grid>nav {
    grid-area: nav;
    overflow-y: hidden;
    background-color: $white-color;

    #logo {
        display: flex;
        padding: 4vh 0;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $green-color;

        img {
            height: 3.5vw;
            width: auto;
        }
    }

    .pages {
        display: flex;
        flex-flow: column wrap;
        margin: 0 2.3vw;

        a {
            text-decoration: none;
            padding: .7em 0;
            font-size: $normal-font;
            font-weight: 400;
            color: $gray-color;

            &:nth-child(1) {
                padding-top: 2.3em;
            }

            &:hover {
                color: $green-thirdy-color;
            }
        }

        .selected {
            color: $green-thirdy-color;
        }
    }
}

#grid>main {
    grid-area: main;
    overflow: hidden;
    background-color: $green-color;
    max-height: 92vh;

    #buttons {
        margin: 0px 4vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .btn {
            background-color: $white-color;
            margin: 20px 0;
            padding: 40px;
            border-radius: 7px;
            font-size: $normal-font;
            font-weight: 400;
            color: $gray-color;

            &:hover {
                background-color: $green-thirdy-color;
                color: $white-color;
                box-shadow: 0 0 1em $green-thirdy-color;
            }
        }

        .btn-selected {
            color: $white-color !important;
            background-color: $green-thirdy-color !important;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 1em $green-thirdy-color;
            }
        }
    }

    .chose-button {

        input {
            margin-bottom: 12px;
            border-radius: 7px;
            box-shadow: none;
            border: 1px solid $light-gray-color;
            transition: all 0.3s ease-in-out;
            font-size: $normal-font;
            padding: 5px 15px;
            background: none;
            font-family: $poppins-font, sans-serif;
            outline: none;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;

            &[type=text],
            &[type=date] {
                height: 30px;
            }

            &[type=button] {
                @include button-background-color-on($green-thirdy-color, $white-color);
                text-decoration: none;
                padding: 15px 0px;
                font-weight: 400;
                margin: 15px 0px;
                justify-content: center;
                justify-items: center;
            }

            &:hover,
            &[type=text]:focus {
                border-color: $green-thirdy-color;
            }
        }

        .notice {
            font-family: $poppins-font, sans-serif;
            font-size: $small-font;
            margin: 10px 0px;

            span {
                color: $red-color;
                font-weight: 500;
            }
        }

    }
}