@import 'variables';
@import 'extend';

.cardapio {
    @extend %background;

    .data {
        padding-left: calc(63.4vw /2);
    }

    .titulo {
        font-size: $large-font;
        color: $green-secondary-color;
        align-content: center;
        padding-left: calc(63.4vw /2);
    }

    p {
        display: inline;
        font-size: $normal-font;
    }

    hr {
        border: none;
        border-top: 2px dotted $gray-color;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
        margin: 0px;
    }
}