$white-color: #FFFFFF;
$gray-color: #555;
$green-color: #E5E5E5;
$green-secondary-color: #0F5F5C;
$green-thirdy-color: #32A041;

$poppins-font: "Poppins",
sans-serif;

$small-font: 15px;
$normal-font: 18px;
$large-font: 23px;