@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@import 'extend.scss';
@import 'variables';

@import 'sidebar';
@import 'cardapio';

body {
    margin: 0px 0px 0px 0px !important;
    background-color: $green-color;
    font-family: "poppins", sans-serif;
}

nav {
    background-color: $white-color;
    margin-left: 18.2vw;
    height: 7vh;
    width: calc(100vw - 18.2vw);
    position: absolute;
}


.buttons {
    width: 77vw;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    top: 12vh;
    left: 20.5vw;

    .button {
        padding: 40px;
        background-color: $white-color;
        border: 1px solid $white-color;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        margin: 0 40px 0 0;
        font-size: $normal-font;
    }
}

.content {
    width: 77vw;
    position: absolute;
    display: flex;
    top: 28vh;
    left: 20.5vw;
    height: 550px;

    .esconder {
        visibility: hidden;
    }

    .mostrar {
        visibility: visible;
    }

    

    
}